/* Don't forget to vendor prefix! */

/**:not(.letsGo-animate) {*/
/*  transition: width 0.4s, height 0.4s, font-size 0.4s, font-weight 0.4s;*/
/*}*/

body {
  margin-bottom: 25px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

input, textarea, select, button {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 50px;
  font-weight: 300;
  height: 52px;
}

h1 svg {
  width: 120px;
  fill: #fff;
}

h2 {
  font-size: 35px;
  font-weight: 100;
  color: #fff;
}

h3 {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: 700;
}

h4 {
  margin-top: 10px;
  font-size: 30px;
  font-weight: 300;
}

h5 {
  margin-top: 20px;
  margin-bottom: 3px;
  font-size: 25px;
  font-weight: 300;
  font-style: italic;
}

/* MD, LG */
@media (min-width: 992px) {
  .header.home h1 {
    font-size: 200px;
    font-weight: 300;
    height: 150px;
  }

  .header.home h1 svg {
    width: 350px;
    margin-bottom: 20px;
  }

  .header.home h2 {
    font-size: 50px;
    text-align: center;
  }
}

/* XS, SM */
@media (max-width: 991px) {
  html, body {
    font-size: 15px;
  }
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 30px;
  }
  h4 {
    font-size: 25px;
  }
  h5 {
    font-size: 20px;
  }
}

p {
  margin: 15px 0;
  font-size: 18px;
}

p a {
  font-size: 18px;
}

/* XS, SM */
@media (max-width: 991px) {
  p, p a {
    font-size: 15px;
  }
}

.example-toggle-button {
  margin: 20px 0;
  background-color: #2A6A9A;
  border-color: #2A6A9A;
}

.example-toggle-button:hover,
.example-toggle-button:active,
.example-toggle-button:focus {
  background-color: #105080;
  border-color: #105080;
}

.bottom-margin {
  margin-bottom: 60px !important;
}

#mobile-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fbfbfb;
  -webkit-box-shadow: -1px 0px 4px 0px #000000;
          box-shadow: -1px 0px 4px 0px #000000;
  z-index: 10;
}

#mobile-sidebar.letsGo-hide-remove {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

#mobile-sidebar.letsGo-hide-remove.letsGo-hide-remove-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

#mobile-sidebar.letsGo-hide-add {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

#mobile-sidebar.letsGo-hide-add.letsGo-hide-add-active {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.mobile-sidebar-header {
  display: block;
  background-color: #2A6A9A;
  padding: 45px;
}

.mobile-sidebar-header svg {
  fill: #fff;
  width: 150px;
  margin: 0 auto;
}

.mobile-sidebar-content {
  padding: 25px;
}

.mobile-sidebar-content li {
  font-size: 18px;
  width: 100%;
}

.mobile-sidebar-content a,
.mobile-sidebar-content a:hover,
.mobile-sidebar-content a:focus,
.mobile-sidebar-content a:active,
.mobile-sidebar-content a:visited {
  display: block;
  padding: 20px 0;
  text-decoration: none;
}

#click-cover {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.7;
  z-index: 9;
}

#click-cover.letsGo-hide-remove {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0;
}

#click-cover.letsGo-hide-remove.letsGo-hide-remove-active {
  opacity: 0.7;
}

#click-cover.letsGo-hide-add {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0.7;
}

#click-cover.letsGo-hide-add.letsGo-hide-add-active {
  opacity: 0;
}

#mobile-sidebar-button {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  font-size: 25px;
  padding: 10px;
}

#mobile-sidebar-button div {
  width: 22px;
  height: 4px;
  background-color: #fff;
  margin-bottom: 4px;
}

#mobile-sidebar-button div:nth-of-type(3){
  margin-bottom: 0;
}

.header {
  background-color: #2A6A9A;
  height: 140px;
  color: #fff;
}

.header.home {
  height: 400px;
}

/* XS, SM */
@media (max-width: 991px) {
  .header,
  .header.home {
    height: 100px;
  }
}

.header a:hover,
.header a:focus,
.header a:active,
.header a:visited {
  color: #fff;
  text-decoration: none;
}

.tab-bar {
  background-color: #eee;
  height: 50px;
}

.tab-bar ul {
  margin: 0;
  list-style-type: none;
}

.tab-bar ul li {
  margin: 0 15px;
}

.tab-bar ul li:first-child {
  margin-left: 0px;
}

.tab-bar ul li:last-child {
  margin-right: 0px;
}

.tab-bar ul li a {
  font-size: 18px;
}

.tab-bar a:hover,
.tab-bar a:focus,
.tab-bar a:active,
.tab-bar a:visited {
  text-decoration: none;
}

/* XS, SM */
@media (max-width: 991px) {
  .tab-bar ul li a {
    font-size: 15px;
  }
}

.tagline {
  margin-bottom: 40px;
  font-size: 25px;
}

.tagline a {
  text-decoration: underline;
}

#titles-example, #headers-example {
  height: 390px;
}

#square-rows-example, #square-columns-example {
  padding: 0 10px;
}

.frow-setup p {
  margin: 10px 0 5px;
}

.display-selector {
  color: #333;
  font-size: 14px;
}

.fake-code {
  padding: 10px 10px;
  display: block;
  border-radius: 3px;
  background-color: #4F4F51;
  color: #E6E6E6;
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
  margin-bottom: 20px;
}

.grid-frow-code {
  padding: 10px 10px;
  display: block;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #4F4F51;
  color: #E6E6E6;
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
}

.fake-comment {
  color: #AFAFAF;
}

.fake-comment a {
  color: #AFAFAF;
  text-decoration: underline;
}

.grid-example {
  background-color: #eee;
  margin-bottom: 60px;
  border-radius: 3px;
  padding: 15px 0;
  overflow: hidden;
}

.grid-frow-code + .grid-example {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.grid-example-group .grid-example {
  margin-bottom: 30px;
}

.grid-example-group .grid-example:last-of-type,
.grid-example-group .grid-example:last-of-type {
  margin-bottom: 60px;
}

.grid-example-div {
  background-color: #5EA6DC;
  height: 70px;
  margin-bottom: 10px;
  border: 1px solid #eee;
  border-radius: 3px;
  font-size: 15px;
}

.plain-grid-example-div p {
  font-size: 15px;
}

.grid-example-no-margin .grid-example-div {
  margin-bottom: 0px;
}

.grid-example-square {
  background-color: #5EA6DC;
  height: 71px;
  width: 71px;
  margin: 1px;
  border: 1px solid #eee;
  border-radius: 3px;
  font-size: 20px;
}

.smaller-grid-example-square {
  background-color: #1DE9B6;
  height:20px;
  width:20px;
  margin: 1px;
  /*border: 1px solid #eee;*/
  border-radius: 3px;
  font-size: 20px;
}

.grid-example-div.dotted-div {
  background-color: transparent;
  border: 2px dashed #333;
  margin: 0 2px;
}

.grid-example-div.dotted-div p {
  color: #333;
  font-size: 15px;
}

.grid-example-stretch {
  background-color: #5EA6DC;
  color: #fff;
  border: 1px solid #eee;
  border-radius: 3px;
  font-size: 16px;
}

.grid-example-div p,
.grid-example-square p {
  text-align: center;
  color: #fff;
  margin: 0;
  font-size: 15px;
}

.grid-example-div p:nth-child(2) {
  margin-top: 10px;
}

.grid-example>.frow:last-of-type .grid-example-div {
  margin: 0;
}

/* XS, SM */
@media (max-width: 991px) {
  .grid-example:not(.always-margin)>.frow:last-of-type>div:last-child .grid-example-div {
    margin: 0;
  }
}

.inline-example {
  padding: 0 10px;
}

/* MD, LG */
@media (min-width: 992px) {
  .home-height {
    height: 420px;
  }
}

.home-example.letsGo-hide-add {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 1;
}

.home-example.letsGo-hide-add-active {
  opacity: 0;
}

@-webkit-keyframes pop-in {
  0% { -webkit-transform: scale(0); transform: scale(0); opacity: 0.0; }
  50% { -webkit-transform: scale(1.04); transform: scale(1.04); opacity: 1.0; }
  100% { -webkit-transform: scale(1); transform: scale(1); opacity: 1.0; }
}

@keyframes pop-in {
  0% { -webkit-transform: scale(0); transform: scale(0); opacity: 0.0; }
  50% { -webkit-transform: scale(1.04); transform: scale(1.04); opacity: 1.0; }
  100% { -webkit-transform: scale(1); transform: scale(1); opacity: 1.0; }
}

.home-example.letsGo-hide-remove {
  -webkit-animation: pop-in 0.3s;
          animation: pop-in 0.3s;
}

.groups-example-card {
  background: #fff;
  width: 80%;
  height: 60%;
}

.groups-example-number {
  color: #00BCD4;
  font-size: 40px;
  font-weight: 700;
}

.groups-example-title {
  font-size: 20px;
  font-weight: 700;
}

#titles-example h1 {
  color: #26A69A;
}

.example-header {
  height: 50px;
  background-color: #f44336;
  color: #fff;
  margin-top: -15px;
  padding: 0 10px;
}

.example-header-bars {
  color: #fff;
  font-size: 25px;
  padding-top: 15px;
}

.example-header-bars div {
  width: 22px;
  height: 4px;
  background-color: #fff;
  margin-bottom: 4px;
}

.example-header-bars div:nth-of-type(3){
  margin-bottom: 0;
}

.example-header-link {
  margin-left: 10px;
}

.next {
  font-size: 25px;
  margin-top: 50px;
  font-weight: 300;
}

a.next-page[type="button"] {
  font-size: 25px;
  background-color: #2A6A9A;
  border-color: #2A6A9A;
  padding: 10px;
}

a.next-page[type="button"]:hover,
a.next-page[type="button"]:active,
a.next-page[type="button"]:focus {
  background-color: #105080;
  border-color: #105080;
}

.by-line {
  margin-top: 60px;
  text-align: center;
}

.form-example-contain {
  background-color: #eee;
  padding: 20px;
  border-radius: 3px;
}

.form-example {
  max-width: 370px;
  width: 100%;
  display: block;
  background-color: #fff;
  padding: 20px;
}

@-webkit-keyframes flash {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes flash {
  from {opacity: 0;}
  to {opacity: 1;}
}

.fake-code .reset-text.letsGo-hide-remove {
  -webkit-animation: flash 0.3s ease 5 alternate;
          animation: flash 0.3s ease 5 alternate;
}

.card-shadow-demo {
  margin-top: 30px;
}

.card-shadow-demo>.frow>.col-md-1-2>.frow {
  border-radius: 3px;
  height: 400px;
}

.card-shadow-demo>.frow>.col-md-1-2:first-child>.frow {
  background-color: #f3f3f3;
}

.card-shadow-demo>.frow>.col-md-1-2:last-child>.frow {
  background-color: #888;
}

/* XS, SM */
@media (max-width: 991px) {
  .card-shadow-demo>.frow>.col-md-1-2:last-child>.frow {
    margin-top: 20px;
  }
}

.card-shadow-demo-card {
  height: 70%;
  width: 80%;
  background-color: #fff;
}

.red-background {
  background-color: #E26F6F;
  margin: -15px 0;
  padding: 15px 0;
}

label.blue {
  color: CornflowerBlue;
}

input.blue {
  border-bottom: 2px solid CornflowerBlue;
}

select.my-custom-select {
  border: 0;
  border-radius: 3px;
  background-color: lightseagreen;
  color: #fff;
  width: auto;
  margin: 0 0 0 10px;
  padding-top: 3px;
}

textarea.my-custom-textarea {
  border: 0;
  border-radius: 3px;
  background-color: WhiteSmoke;
}

button.blue {
  background-color: CornflowerBlue;
  border-color: CornflowerBlue;
}

button.blue:hover, button.blue:active, button.blue:focus  {
  background-color: CornflowerBlue;
  border-color: CornflowerBlue;
}

button.rounded {
  width: 90px;
  border-radius: 25px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  background: none;
  border: 2px solid MediumVioletRed;
  color: MediumVioletRed;
}

button.rounded:hover, button.rounded:active, button.rounded:focus {
  background-color: transparent;
}

button.my-custom-button {
  background: none;
  border: 2px solid lightseagreen;
  color: lightseagreen;
}

button.my-custom-button:hover, button.my-custom-button:active, button.my-custom-button:focus {
  background-color: transparent;
}