//
// Scaffolding
// --------------------------------------------------


// Reset the box-sizing
*, :after, :before {
    box-sizing: border-box;
}

// Links
a {
    color: $link-color;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
    }

    p & {
      text-decoration: underline;
    }
}

// SVGs
svg {
    display: block;
}

// Unordered lists
ul {
    margin: 0;
    padding: 0;
}

// List items
li {
    list-style-type: none;
}

// Buttons
button, html [type="button"], [type="reset"], [type="submit"] {
    background: none;
    background-color: $gray-darker;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    line-height: 100%;
    padding: 9px;
    border-radius: 3px;
    font-size: 16px;

    &:hover, &:focus, &:active {
        outline: none;
    }

    &:active {
        transform: scale(0.96);
    }

    &:disabled {
        opacity: 0.7;
        cursor: default;
    }
}
