//
// Utility classes
// --------------------------------------------------

// Margin and padding classes
// -------------------------
@if $frow-enable-box-model-shorcuts == true {
  @mixin box-model($direction, $type, $amount, $multiplier) {
    .#{str-slice($type, 1, 1) + $direction}-#{$amount * $multiplier} {
      @if $direction == '' {
        #{$type}: $amount * $multiplier + px;
      }
      @if $direction == 't' or $direction == 'v' {
        #{$type}-top: $amount * $multiplier + px;
      }
      @if $direction == 'r' or $direction == 'h' {
        #{$type}-right: $amount * $multiplier + px;
      }
      @if $direction == 'b' or $direction == 'v' {
        #{$type}-bottom: $amount * $multiplier + px;
      }
      @if $direction == 'l' or $direction == 'h' {
        #{$type}-left: $amount * $multiplier + px;
      }
    }
  }
  
  @each $type in margin, padding {
    $frow-box-model-directions: '', h, v, t, r, b, l;
    @each $direction in $frow-box-model-directions {
      @for $amount from 0 through 5 {
        $multiplier: 5;
        @include box-model($direction, $type, $amount, $multiplier);
      }
      @for $amount from 3 through 10 {
        $multiplier: 10;
        @include box-model($direction, $type, $amount, $multiplier);
      }
    }
  }
}

// Cursor pointer classes
// -------------------------
.clickable:not([disabled]), *[onclick]:not([disabled]) {
  cursor: pointer !important;
}

.not-clickable, .not-clickable[onclick] {
  cursor: default !important;
}

// Height and width rules
// -------------------------
.height-100 {
  height: 100%;
}

.width-100 {
  width: 100%;
}

// Hidden rule for letsGo (letsgojs.com)
// -------------------------
.letsGo-hide {
  display: none !important;
}

// Card shadows
// -------------------------
.card-shadow {
  box-shadow: $card-shadow;
}

.dark-card-shadow {
  box-shadow: $dark-card-shadow;
}

// Text transforms
// -------------------------
.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

// Clearfix
// -------------------------
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
